header {
  text-align: center;
  background: url("./img/city.jpeg");
  background-size: cover;
  color: white;
}

h1 {
  font-size: 70px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

li {
  display: inline;
  padding: 0px 8px 0px 8px;
  font-size: 25px;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  body {
    background: rgb(235, 194, 134);
  }
  h1 {
    font-size: 36px;
  }
  li {
    display: block;
    padding: 5px;
  }
}
/* For mobile devices  */
a {
  color: white;
}

#Juliana {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid 2px black;
}
